
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=980cb5bdc84e332d75c476760f95cb73"></script>
    <title>Document</title>
    <style>
            .over_wrap {position:relative;bottom:70px;right:0px;border-radius:6px;line-height:30px;}
            .over_wrap * {padding: 0;margin: 0;}
            .over_wrap .over_info {width: 170px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
            .over_wrap .over_info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px rgb(240, 238, 238);}
            .over_info .over_title {padding: 5px 0 0 10px;height: 30px;color:#fff; background: #263379 ;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
            .over_info .over_close {position: absolute;top: 10px;right: 10px;color: rgb(255, 255, 255);width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
            .over_info .over_close:hover {cursor: pointer;}
            .over_info .over_body {position: relative;overflow: hidden;}
            .over_info .over_desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
            .over_info .over_img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}

            .over_info .link {color: #5085BB;}

            .info-title {
                width:200px;
                text-align:center;
                padding-top:4px;
            }
            </style>
</head>
<body>
<form action="/getList">
    <div id="map"  style="width:100%;height:500px;"></div>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = { 
			center: new kakao.maps.LatLng(37.512372, 126.939479), // 지도의 중심좌표
			level: 4 // 지도의 확대 레벨 
		};
        var map = new kakao.maps.Map(mapContainer, mapOption);
        
        <%cul_loc.forEach(function (value) { %> 
        var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: new kakao.maps.LatLng(<%=value.loc_log%> , <%=value.loc_lat%>)
            });
          
         marker.setMap(map);
         <% }); %>  
        </script>
</form>   
</body>
</html>

